In [12]:
# 작업자 : 권은이

import pandas as pd
import json
import os

# --- 설정 ---
# ❗️ 여기에 변환하고 싶은 원본 CSV 파일 이름을 넣으세요.
CSV_FILE_NAME = 'et_reviews_최종.csv'
# --------------------

# JSONL 파일 이름은 CSV 파일 이름에 맞춰서 자동으로 설정됩니다.
JSONL_FILE_NAME = CSV_FILE_NAME.replace('.csv', '.jsonl')

# 파일 존재 여부 확인
if os.path.exists(CSV_FILE_NAME):
    print(f"✅ [준비 완료] 다음 파일을 변환합니다: '{CSV_FILE_NAME}'")
    print(f" -> JSONL 파일로 저장될 이름: '{JSONL_FILE_NAME}'")
else:
    print(f"🚨 [오류] '{CSV_FILE_NAME}' 파일을 찾을 수 없습니다!")
    print(" -> 파일 이름이나 경로를 다시 확인해주세요.")

✅ [준비 완료] 다음 파일을 변환합니다: 'et_reviews_최종.csv'
 -> JSONL 파일로 저장될 이름: 'et_reviews_최종.jsonl'

In [13]:
# 'df' 변수를 미리 초기화 (오류 방지)
df = None 

if os.path.exists(CSV_FILE_NAME):
    try:
        # encoding='utf-8-sig' : 한글 및 CSV의 BOM 문자 처리
        df = pd.read_csv(CSV_FILE_NAME, encoding='utf-8-sig')
        
        print(f"[성공] '{CSV_FILE_NAME}' 파일 로드 완료")
        print(f" -> 총 {len(df)} 개의 행(row)을 발견했습니다.")
        
        print("\n--- 데이터 샘플 (상위 5개) ---")
        display(df.head()) # 'display'는 Jupyter에서 표를 예쁘게 보여줌

        print("\n--- 데이터 기본 정보 (컬럼, 타입, Null 개수) ---")
        df.info()

    except Exception as e:
        print(f"[오류] 파일을 읽는 중 문제가 발생했습니다: {e}")
else:
    print("[오류] (셀 1)에서 파일이 확인되지 않았습니다. 셀 1을 먼저 실행해주세요.")

[성공] 'et_reviews_최종.csv' 파일 로드 완료
 -> 총 8794 개의 행(row)을 발견했습니다.

--- 데이터 샘플 (상위 5개) ---

,lecture_id,course_code,course_name,professor,schedule,credit,time_hour,division,year_target,note,...,avg_rating,rating_count,assignment,groupwork,grade_policy,attendance,exam_type,review_star,review_semester,review_text
0,1780794,2150011701,(외국인을위한)한류와대중문화의이해,윤선희,월 수 15:00-16:15 (진리관 11522 (이효계강의실)-윤선희),3.0,3.0,교선,전체,NaN,...,5.0,NaN,NaN,NaN,NaN,NaN,NaN,5.0,24년 2학기 수강자,시험이 없어서 좋아요. 과제도 쉽고 학점도 잘 주셔요
1,1780794,2150011701,(외국인을위한)한류와대중문화의이해,윤선희,월 수 15:00-16:15 (진리관 11522 (이효계강의실)-윤선희),3.0,3.0,교선,전체,NaN,...,5.0,NaN,NaN,NaN,NaN,NaN,NaN,5.0,25년 1학기 수강자,"대단한 교수님이세요. 중간고사는 없고, 기말고사는 미리 준비할 수 있게 해주세요"
2,1780794,2150011701,(외국인을위한)한류와대중문화의이해,윤선희,월 수 15:00-16:15 (진리관 11522 (이효계강의실)-윤선희),3.0,3.0,교선,전체,NaN,...,5.0,NaN,NaN,NaN,NaN,NaN,NaN,5.0,25년 1학기 수강자,수업 내용도 재미있고 교수님이 너무 친절하셔서 좋음\n성적도 잘 주심
3,1780794,2150011701,(외국인을위한)한류와대중문화의이해,윤선희,월 수 15:00-16:15 (진리관 11522 (이효계강의실)-윤선희),3.0,3.0,교선,전체,NaN,...,5.0,NaN,NaN,NaN,NaN,NaN,NaN,5.0,25년 1학기 수강자,"한국 예능, 영화에 관심 있으면 강의 내용 자체가 너무 재밌음"
4,1780794,2150011701,(외국인을위한)한류와대중문화의이해,윤선희,월 수 15:00-16:15 (진리관 11522 (이효계강의실)-윤선희),3.0,3.0,교선,전체,NaN,...,5.0,NaN,NaN,NaN,NaN,NaN,NaN,5.0,24년 2학기 수강자,수업 내용 재미있고 강의력이 좋으십니다. 추천 추천. 중간 고사 없고 중간 중간에 ...

--- 데이터 기본 정보 (컬럼, 타입, Null 개수) ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8794 entries, 0 to 8793
Data columns (total 22 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   lecture_id       8794 non-null   int64
 1   course_code      8794 non-null   object
 2   course_name      8794 non-null   object
 3   professor        8754 non-null   object
 4   schedule         8309 non-null   object
 5   credit           8794 non-null   float64
 6   time_hour        8794 non-null   float64
 7   division         8759 non-null   object
 8   year_target      8607 non-null   object
 9   note             328 non-null    object
 10  capacity         8794 non-null   int64
 11  enrolled         8794 non-null   int64
 12  avg_rating       8775 non-null   float64
 13  rating_count     0 non-null      float64
 14  assignment       0 non-null      float64
 15  groupwork        0 non-null      float64
 16  grade_policy     0 non-null      float64
 17  attendance       0 non-null      float64
 18  exam_type        0 non-null      float64
 19  review_star      8794 non-null   float64
 20  review_semester  8794 non-null   object
 21  review_text      8794 non-null   object
dtypes: float64(10), int64(3), object(9)
memory usage: 1.5+ MB

In [14]:
if df is not None:
    print("--- 컬럼별 결측치(Null/NaN) 개수 확인 ---")
    
    null_counts = df.isnull().sum()
    
    if null_counts.sum() == 0:
        print("✅ [완벽] 모든 컬럼에 비어있는 데이터(Null)가 없습니다.")
    else:
        print("⚠️ [주의] 비어있는 데이터가 발견되었습니다:")
        # 비어있는 데이터가 1개 이상인 컬럼만 출력
        print(null_counts[null_counts > 0])
else:
    print("[오류] 'df'가 로드되지 않았습니다. (셀 2 실행 필요)")

--- 컬럼별 결측치(Null/NaN) 개수 확인 ---
⚠️ [주의] 비어있는 데이터가 발견되었습니다:
professor         40
schedule         485
division          35
year_target      187
note            8466
avg_rating        19
rating_count    8794
assignment      8794
groupwork       8794
grade_policy    8794
attendance      8794
exam_type       8794
dtype: int64

In [15]:
if df is not None:
    try:
        df.to_json(
            JSONL_FILE_NAME, 
            orient='records', 
            lines=True, 
            force_ascii=False,
            index=False # DataFrame의 인덱스(0, 1, 2...)는 저장하지 않음
        )
        
        print(f"✅ [성공] '{JSONL_FILE_NAME}' 파일 저장 완료!")
        print(f" -> 총 {len(df)} 개의 행이 JSONL로 변환되었습니다.")

    except Exception as e:
        print(f"[오류] JSONL 파일 저장 중 문제가 발생했습니다: {e}")
else:
    print("[오류] 'df'가 로드되지 않았습니다. (셀 2 실행 필요)")

✅ [성공] 'et_reviews_최종.jsonl' 파일 저장 완료!
 -> 총 8794 개의 행이 JSONL로 변환되었습니다.

In [16]:
if os.path.exists(JSONL_FILE_NAME):
    try:
        print(f"--- (검증) 저장된 '{JSONL_FILE_NAME}' 파일 내용 (상위 5줄) ---")
        
        with open(JSONL_FILE_NAME, 'r', encoding='utf-8') as f:
            for i in range(5):
                line = f.readline()
                if not line: # 파일이 5줄보다 짧으면 중단
                    break
                print(line, end='') # line 자체에 \n이 있으므로 print는 줄바꿈 안 함
                
        if i == 0 and 'line' not in locals():
            print(" -> 파일이 비어있습니다. (변환된 데이터가 0건일 수 있습니다)")

    except Exception as e:
        print(f"[오류] JSONL 파일을 읽는 중 문제가 발생했습니다: {e}")
else:
    print(f"[오류] '{JSONL_FILE_NAME}' 파일이 생성되지 않았습니다. (셀 4 실행 확인)")

--- (검증) 저장된 'et_reviews_최종.jsonl' 파일 내용 (상위 5줄) ---
{"lecture_id":1780794,"course_code":"2150011701","course_name":"(외국인을위한)한류와대중문화의이해","professor":"윤선희","schedule":"월 수 15:00-16:15 (진리관 11522 (이효계강의실)-윤선희)","credit":3.0,"time_hour":3.0,"division":"교선","year_target":"전체","note":null,"capacity":50,"enrolled":29,"avg_rating":5.0,"rating_count":null,"assignment":null,"groupwork":null,"grade_policy":null,"attendance":null,"exam_type":null,"review_star":5.0,"review_semester":"24년 2학기 수강자","review_text":"시험이 없어서 좋아요. 과제도 쉽고 학점도 잘 주셔요"}
{"lecture_id":1780794,"course_code":"2150011701","course_name":"(외국인을위한)한류와대중문화의이해","professor":"윤선희","schedule":"월 수 15:00-16:15 (진리관 11522 (이효계강의실)-윤선희)","credit":3.0,"time_hour":3.0,"division":"교선","year_target":"전체","note":null,"capacity":50,"enrolled":29,"avg_rating":5.0,"rating_count":null,"assignment":null,"groupwork":null,"grade_policy":null,"attendance":null,"exam_type":null,"review_star":5.0,"review_semester":"25년 1학기 수강자","review_text":"대단한 교수님이세요. 중간고사는 없고, 기말고사는 미리 준비할 수 있게 해주세요"}
{"lecture_id":1780794,"course_code":"2150011701","course_name":"(외국인을위한)한류와대중문화의이해","professor":"윤선희","schedule":"월 수 15:00-16:15 (진리관 11522 (이효계강의실)-윤선희)","credit":3.0,"time_hour":3.0,"division":"교선","year_target":"전체","note":null,"capacity":50,"enrolled":29,"avg_rating":5.0,"rating_count":null,"assignment":null,"groupwork":null,"grade_policy":null,"attendance":null,"exam_type":null,"review_star":5.0,"review_semester":"25년 1학기 수강자","review_text":"수업 내용도 재미있고 교수님이 너무 친절하셔서 좋음\n성적도 잘 주심"}
{"lecture_id":1780794,"course_code":"2150011701","course_name":"(외국인을위한)한류와대중문화의이해","professor":"윤선희","schedule":"월 수 15:00-16:15 (진리관 11522 (이효계강의실)-윤선희)","credit":3.0,"time_hour":3.0,"division":"교선","year_target":"전체","note":null,"capacity":50,"enrolled":29,"avg_rating":5.0,"rating_count":null,"assignment":null,"groupwork":null,"grade_policy":null,"attendance":null,"exam_type":null,"review_star":5.0,"review_semester":"25년 1학기 수강자","review_text":"한국 예능, 영화에 관심 있으면 강의 내용 자체가 너무 재밌음"}
{"lecture_id":1780794,"course_code":"2150011701","course_name":"(외국인을위한)한류와대중문화의이해","professor":"윤선희","schedule":"월 수 15:00-16:15 (진리관 11522 (이효계강의실)-윤선희)","credit":3.0,"time_hour":3.0,"division":"교선","year_target":"전체","note":null,"capacity":50,"enrolled":29,"avg_rating":5.0,"rating_count":null,"assignment":null,"groupwork":null,"grade_policy":null,"attendance":null,"exam_type":null,"review_star":5.0,"review_semester":"24년 2학기 수강자","review_text":"수업 내용 재미있고 강의력이 좋으십니다. 추천 추천. 중간 고사 없고 중간 중간에 간단한 퀴지 있습니다. 기말 고사도 어렵지 않습니다"}